<!DOCTYPE html>
<html ng-app="myModule">
  <head>
    <title><%= title %></title>
    <script src="/javascripts/angular/angular.min.js"></script>
    <script src="/javascripts/directive.js"></script>
    <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
  </head>
  <body>
  <hello></hello>


  </body>
</html>
